
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    
    <h1>
        Welcome to my page. 
        

    </h1>
    <h3> Click @Html.ActionLink("Here", "RazorRegister", "Home") For Razor</h3>
    
    <h3> Click @Html.ActionLink("Here", "HtmlRegister", "Home") For Html</h3>
</div>
</body>
</html>
